.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

/* button (in Fetch) */
#button {
  margin: 10px;
}

/* Graph */
.dygraph-label.dygraph-xlabel {
  text-align: center;
}

.dygraph-label.dygraph-ylabel {
  text-align: center;
  transform: rotate(-90deg);
}

/* Input */
#input-div {
  display: flex;
  flex-direction: column;
}

label {
  padding-top: 10px;
}

#tgas,
#pressure,
#path,
#molecule,
#mole {
  pointer-events: none;
  background-color: lightgrey;
}
